:root {
  --color-text-base: #eee;
  --color-bg-body: #333;
  --color-border: #999;

  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--color-text-base);
  background-color: var(--color-bg-body);
}

.heading {
  padding: 0.5em 0;
  font-size: 120%;
}

.extension {
  margin: 1px 0;
  padding: 6px 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  border-radius: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;

  transition-duration: 0.2s;
}

.extension-image {
  width: 14px;
  height: 14px;
}
